<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Project Test</title>

    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.jsdelivr.net/npm/primeicons@6.0.1/primeicons.css"
    />

    <link
      href="
    https://cdn.jsdelivr.net/npm/primeng@16.7.1/resources/primeng.min.css
    "
      rel="stylesheet"
    />

    <link rel="stylesheet" type="text/css" href="dashboard.component.scss" />
  </head>
  <body>
    <div class="card">
      <p-tabMenu [model]="items" [activeItem]="activeItem">
        <ng-template pTemplate="item" let-item>
          <a
            class="p-menuitem-link flex justify-content-between align-items-center p-3"
          >
            <div>
              <span [class]="item.icon"></span>
              <span> {{ item.label }}</span>
            </div>
          </a>
        </ng-template>
      </p-tabMenu>
    </div>

    <div class="card">
      <p-table
        #dt2
        [value]="barangData"
        [tableStyle]="{ 'min-width': '60rem' }"
        [sortField]="'namaBarang'"
        dataKey="id"
        [rows]="10"
        [showCurrentPageReport]="true"
        [rowsPerPageOptions]="[10, 25, 50]"
        [loading]="loading"
        [paginator]="true"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [globalFilterFields]="[
          'namaBarang',
          'jenisBarang',
          'stok',
          'jumlahTerjual',
          'tanggalTransaksi'
        ]"
      >
        <!-- Dialog Popup -->
        <ng-template pTemplate="caption">
          <div class="container">
            <span class="p-input-icon-left ml-auto item">
              <i class="pi pi-search"></i>
              <input
                pInputText
                type="text"
                [(ngModel)]="filterData"
                (input)="dt2.filterGlobal($event.target.value, 'contains')"
                placeholder="Search keyword"
              />
            </span>
            <button
              pButton
              label="Clear"
              class="p-button-outlined item"
              icon="pi pi-filter-slash"
              (click)="clear(dt2)"
            ></button>
          </div>
          <div
            class="container"
            style="justify-content: flex-end; align-items: flex-end"
          >
            <!-- Perbandingan Transaksi -->
            <button
              pButton
              label="Perbandingan Transaksi"
              class="p-button-raised p-button-secondary item"
              (click)="showDialogAppealTransaction()"
            ></button>

            <p-dialog
              header="Perbandingan Transaksi"
              [(visible)]="visibleAppealTransaction"
              [modal]="true"
              [style]="{ width: '80vw' }"
              [draggable]="false"
              [resizable]="false"
            >
              <form (ngSubmit)="appealTransactionData(jenisBarangInput.value)">
                <div
                  style="
                    justify-content: center;
                    align-items: center;
                    display: grid;
                  "
                >
                  <span class="p-float-label">
                    <p-dropdown
                      [options]="jenisBarangType"
                      [(ngModel)]="selectedTransactionItem"
                      placeholder="Select a Item"
                      optionValue="value"
                      inputId="float-label"
                      #jenisBarangInput
                    ></p-dropdown>
                    <label for="float-label">Jenis Barang</label>
                  </span>
                </div>

                <div
                  class="p-d-flex p-jc-end"
                  style="
                    justify-content: center;
                    align-items: center;
                    display: flex;
                    margin-top: 10px;
                    margin-bottom: 10px;
                  "
                >
                  <button
                    pButton
                    type="button"
                    label="Cancel"
                    class="p-button-raised p-button-warning"
                    (click)="visibleAppealTransaction = false"
                    style="margin: 0 15px 0 0"
                  ></button>
                  <button
                    pButton
                    type="submit"
                    label="Check"
                    class="p-button-raised p-button-success"
                  ></button>
                </div>
                <div
                  class="p-field p-col-3"
                  style="
                    align-items: center;
                    display: flex;
                    margin-bottom: 10px;
                  "
                  [formGroup]="groupForm"
                  *ngIf="this.groupForm"
                >
                  <label for="rangeDates">Date Range</label>
                  <p-calendar
                    formControlName="rangeDates"
                    [showIcon]="true"
                    [(ngModel)]="rangeDates"
                    [readonlyInput]="true"
                    inputId="rangeDates"
                    id="rangeDates"
                    dateFormat="dd M yy"
                    selectionMode="range"
                  ></p-calendar>
                  <div class="item">
                    <button
                      pButton
                      pRipple
                      type="button"
                      icon="pi pi-search"
                      label="Search"
                      class="p-button search-trans"
                      (click)="handleDateRangeSelect()"
                      style="width: auto !important"
                      [disabled]="
                        itemTransaksi.jenisBarang == null ||
                        itemTransaksi.jenisBarang == '' ||
                        itemTransaksi.jenisBarang == undefined
                      "
                    ></button>
                  </div>
                  <div class="item">
                    <button
                      pButton
                      label="Clear"
                      class="p-button-outlined item"
                      icon="pi pi-filter-slash"
                      (click)="clearTableModal(dt1)"
                    ></button>
                  </div>
                </div>
              </form>
              <div class="card">
                <p-table
                  #dt1
                  [value]="appealDataTransaction"
                  [tableStyle]="{ 'min-width': '60rem' }"
                  [sortField]="'namaBarang'"
                  dataKey="id"
                  [rows]="10"
                  [showCurrentPageReport]="true"
                  [rowsPerPageOptions]="[10, 25, 50]"
                  [loading]="loading"
                  [paginator]="true"
                  currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                  [globalFilterFields]="[
                    'namaBarang',
                    'jumlahTerjual',
                    'tanggalTransaksi'
                  ]"
                >
                  <ng-template pTemplate="header">
                    <tr>
                      <th style="width: 5%">Nomor</th>
                      <th pSortableColumn="namaBarang" style="width: 20%">
                        Nama Barang <p-sortIcon field="namaBarang"></p-sortIcon>
                      </th>
                      <th pSortableColumn="jumlahTerjual" style="width: 20%">
                        Jumlah Terjual
                        <p-sortIcon field="jumlahTerjual"></p-sortIcon>
                      </th>
                      <th pSortableColumn="tanggalTransaksi" style="width: 20%">
                        Tanggal Transaksi
                        <p-sortIcon field="tanggalTransaksi"></p-sortIcon>
                      </th>
                    </tr>
                    <tr>
                      <th></th>
                      <th>
                        <p-columnFilter
                          type="text"
                          field="namaBarang"
                        ></p-columnFilter>
                      </th>
                      <th>
                        <p-columnFilter
                          type="text"
                          field="jumlahTerjual"
                        ></p-columnFilter>
                      </th>
                      <th>
                        <p-columnFilter
                          type="text"
                          field="tanggalTransaksi"
                        ></p-columnFilter>
                      </th>
                    </tr>
                  </ng-template>
                  <ng-template
                    pTemplate="body"
                    let-product
                    let-rowIndex="rowIndex"
                  >
                    <tr>
                      <td>{{ rowIndex + 1 }}</td>
                      <td>{{ product.namaBarang }}</td>
                      <td>{{ product.jumlahTerjual }}</td>
                      <td>
                        {{ product.tanggalTransaksi | date : "dd-MM-yyyy" }}
                      </td>
                    </tr>
                  </ng-template>
                </p-table>
              </div>
            </p-dialog>

            <!-- Transaksi Barang -->
            <button
              pButton
              label="Transaksi Barang"
              class="p-button-raised p-button-primary item"
              (click)="showDialogTransaction()"
            ></button>
            <p-dialog
              header="Transaksi Barang"
              [(visible)]="visibleTransaction"
              [modal]="true"
              [style]="{ width: '25vw', height: '25vw' }"
              [draggable]="false"
              [resizable]="false"
            >
              <form
                (ngSubmit)="
                  addTransaction(namaBarangInput.value, jumlahTerjualInput.value)
                "
              >
                <div
                  style="
                    justify-content: center;
                    align-items: center;
                    display: grid;
                    padding: 80px;
                  "
                >
                  <div
                    class="card flex justify-content-center"
                    style="margin: 20px 0"
                  >
                    <span class="p-float-label">
                      <p-dropdown
                        [options]="item"
                        [(ngModel)]="selectedItem"
                        placeholder="Select a Item"
                        optionValue="label"
                        inputId="float-label"
                        #namaBarangInput
                      ></p-dropdown>
                      <label for="float-label">Select a Item</label>
                    </span>
                  </div>

                  <span class="p-float-label" style="margin: 20px 0">
                    <input
                      type="number"
                      id="jumlahTerjual"
                      pInputText
                      #jumlahTerjualInput
                    />
                    <label htmlFor="jumlahTerjual">Jumlah Terjual</label>
                  </span>
                </div>

                <div
                  class="p-d-flex p-jc-end"
                  style="
                    justify-content: center;
                    align-items: center;
                    display: flex;
                  "
                >
                  <button
                    pButton
                    type="button"
                    label="Cancel"
                    class="p-button-raised p-button-warning"
                    (click)="visibleTransaction = false"
                    style="margin: 0 15px 0 0"
                  ></button>
                  <button
                    pButton
                    type="submit"
                    label="Submit"
                    class="p-button-raised p-button-success"
                  ></button>
                </div>
              </form>
            </p-dialog>
            <button
              pButton
              label="Tambah Barang"
              class="p-button-raised p-button-success item"
              (click)="showDialog()"
            ></button>
            <p-dialog
              header="Tambah Barang"
              [(visible)]="visible"
              [modal]="true"
              [style]="{ width: '25vw' }"
              [draggable]="false"
              [resizable]="false"
            >
              <form
                (ngSubmit)="
                  createNewBarang(
                    namaItemInput.value,
                    jenisItemInput.value,
                    stokInput.value
                  )
                "
              >
                <div
                  style="
                    justify-content: center;
                    align-items: center;
                    display: grid;
                  "
                >
                  <span class="p-float-label" style="margin: 20px 0">
                    <input
                      type="text"
                      id="namaBarang"
                      pInputText
                      #namaItemInput
                      required
                    />
                    <label htmlFor="namaBarang">Nama Barang</label>
                  </span>

                  <span class="p-float-label" style="margin: 20px 0">
                    <input
                      type="text"
                      id="jenisItem"
                      pInputText
                      #jenisItemInput
                      required
                    />
                    <label htmlFor="jenisItem">Jenis Barang</label>
                  </span>

                  <span class="p-float-label" style="margin: 20px 0">
                    <input type="number" id="stok" pInputText #stokInput />
                    <label htmlFor="stok">Stok</label>
                  </span>
                </div>

                <div
                  class="p-d-flex p-jc-end"
                  style="
                    justify-content: center;
                    align-items: center;
                    display: flex;
                  "
                >
                  <button
                    pButton
                    type="button"
                    label="Cancel"
                    class="p-button-raised p-button-warning"
                    (click)="visible = false"
                    style="margin: 0 15px 0 0"
                  ></button>
                  <button
                    pButton
                    type="submit"
                    label="Submit"
                    class="p-button-raised p-button-success"
                  ></button>
                </div>
              </form>
            </p-dialog>
          </div>
        </ng-template>
        <!-- Dialog Popup -->
        <!-- Template Header Table -->
        <ng-template pTemplate="header">
          <tr>
            <th>Nomor</th>
            <th pSortableColumn="namaBarang" style="width: 20%">
              Nama Barang <p-sortIcon field="namaBarang"></p-sortIcon>
            </th>
            <th pSortableColumn="jenisBarang" style="width: 20%">
              Jenis Barang <p-sortIcon field="jenisBarang"></p-sortIcon>
            </th>
            <th pSortableColumn="stok" style="width: 20%">
              Stok <p-sortIcon field="stok"></p-sortIcon>
            </th>
            <th pSortableColumn="jumlahTerjual" style="width: 20%">
              Jumlah Terjual <p-sortIcon field="jumlahTerjual"></p-sortIcon>
            </th>
            <th pSortableColumn="tanggalTransaksi" style="width: 20%">
              Tanggal Transaksi
              <p-sortIcon field="tanggalTransaksi"></p-sortIcon>
            </th>
            <th style="width: 20%"></th>
          </tr>
          <tr>
            <th></th>
            <th>
              <p-columnFilter type="text" field="namaBarang"></p-columnFilter>
            </th>
            <th>
              <p-columnFilter type="text" field="jenisBarang"></p-columnFilter>
            </th>
            <th>
              <p-columnFilter type="text" field="stok"></p-columnFilter>
            </th>
            <th>
              <p-columnFilter
                type="text"
                field="jumlahTerjual"
              ></p-columnFilter>
            </th>
            <th>
              <p-columnFilter
                type="text"
                field="tanggalTransaksi"
              ></p-columnFilter>
            </th>
            <th></th>
          </tr>
        </ng-template>
        <!-- Template Header Table -->
        <!-- Template Header Body -->
        <ng-template pTemplate="body" let-product let-rowIndex="rowIndex">
          <tr>
            <td>{{ rowIndex + 1 }}</td>
            <td>{{ product.namaBarang }}</td>
            <td>{{ product.jenisBarang }}</td>
            <td>{{ product.stok }}</td>
            <td>{{ product.jumlahTerjual }}</td>
            <td>{{ product.tanggalTransaksi | date : "dd-MM-yyyy" }}</td>
            <td style="text-align: center; display: flex">
              <button
                pButton
                pRipple
                icon="pi pi-check-circle"
                class="p-button-success edit-group p-mr-2 item"
                (click)="viewEdit(product.no)"
              ></button>
              <button
                pButton
                pRipple
                icon="pi pi-times-circle"
                class="p-button-danger edit-group p-mr-2 item"
                (click)="viewDelete(product.no)"
              ></button>
            </td>
          </tr>
        </ng-template>
        <!-- Template Header Body -->
      </p-table>
    </div>
    <!-- Delete View -->
    <p-dialog
      header="Delete Barang"
      [(visible)]="viewDeleteDialog"
      [modal]="true"
      [style]="{ width: '50vw' }"
      [draggable]="false"
      [resizable]="false"
    >
      <div style="justify-content: center; align-items: center; display: grid">
        <span class="p-float-label" style="margin: 20px 0">
          <p class="m-0">
            Apakah anda yakin ingin menghapus data berikut
            {{ itemData.namaBarang }}?
          </p>
        </span>
      </div>

      <div
        class="p-d-flex p-jc-end"
        style="justify-content: center; align-items: center; display: flex"
      >
        <button
          pButton
          type="button"
          label="Cancel"
          class="p-button-raised p-button-warning"
          (click)="viewDeleteDialog = false"
          style="margin: 0 15px 0 0"
        ></button>
        <button
          pButton
          type="submit"
          label="Submit"
          class="p-button-raised p-button-success"
          (click)="onSubmitDeleteData()"
        ></button>
      </div>
    </p-dialog>
    <!-- Edit View -->
    <p-dialog
      header="Edit Barang"
      [(visible)]="viewEditDialog"
      [modal]="true"
      [style]="{ width: '50vw' }"
      [draggable]="false"
      [resizable]="false"
    >
      <div style="justify-content: center; align-items: center; display: grid">
        <span class="p-float-label" style="margin: 20px 0">
          <input
            type="text"
            id="namaBarang"
            pInputText
            required
            [(ngModel)]="itemData.namaBarang"
          />
          <label htmlFor="namaBarang">Nama Barang</label>
        </span>

        <span class="p-float-label" style="margin: 20px 0">
          <input
            type="text"
            id="jenisBarang"
            pInputText
            required
            [(ngModel)]="itemData.jenisBarang"
          />
          <label htmlFor="jenisBarang">Jenis Barang</label>
        </span>

        <span class="p-float-label" style="margin: 20px 0">
          <input
            type="number"
            id="stok"
            pInputText
            required
            [(ngModel)]="itemData.stok"
          />
          <label htmlFor="stok">Stok</label>
        </span>
      </div>

      <div
        class="p-d-flex p-jc-end"
        style="justify-content: center; align-items: center; display: flex"
      >
        <button
          pButton
          type="button"
          label="Cancel"
          class="p-button-raised p-button-warning"
          (click)="viewEditDialog = false"
          style="margin: 0 15px 0 0"
        ></button>
        <button
          pButton
          type="submit"
          label="Submit"
          class="p-button-raised p-button-success"
          (click)="onSubmitEditData()"
        ></button>
      </div>
    </p-dialog>
  </body>
</html>
